@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@300&display=swap');

html, body {
    margin:0px;
    background-color: #FFBF00;
    height:100%;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.outside {
    background:#36393f;
    border: 20px solid #FFBF00;
    position:absolute;
    top:0px;
    right:0px;
    left:0px;
}

.bottom {
    bottom:0px
}

.inside {
    border: 50px solid #36393f;
    text-align: center;
    font-family: 'Anek Malayalam', sans-serif;
    color: white;
}

.link {
    font-size: larger;
    width: 150px;
    border: 3px solid #32353B;
    border-radius: 5px;
    padding: 4px;
    margin: 5px;
}

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    border-radius: 3px;
    text-align: left;
    outline: none;
    font-size: x-large;
    font-family: 'Anek Malayalam', sans-serif;
  }
  
  .active, .collapsible:hover {
    background-color: #555;
  }
  
  .content {
    text-align: left;
    padding: 0 18px;
    display: block;
    overflow: hidden;
    border: 2px solid #777;
  }

.cmd {
    font-size: larger;
    font-family: 'Anek Malayalam', sans-serif;
}

.desc {
    font-size: medium;
    font-family: 'Anek Malayalam', sans-serif;
}

.code {
    width: max-content;
    background-color: #2f3136;
    font-family: Consolas, monaco, monospace;
    padding: 4px 5px;
    border: 1px solid #555;
    border-radius: 3px;
}

.cmd-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.cmd-li {
    border: 1px solid #555;
    padding: 8px 8px;
}

.credits {
    position: absolute;
    bottom: 50px;
    left: 1px;
    right: 1px
}


/* Scrollbar */
::-webkit-scrollbar {
    width: 15px;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: #FFBF00; 
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #ffd75d; 
  }

/* Animations */
.hover-underline-animation {
    display: inline-block;
    position: relative;
  }
  
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FFBF00;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }